<h2><%= product.product %></h2>

<% if product.images.present? %>
  <% product.images.each do |img| %>
<P>
  <%= image_tag img.image, width:200 %>
</P>
  <% end
  end %>
<% if show_details_link %>
<p>
  <%= link_to 'View Details', product %>
</p>
<% end %>
